
{% macro tree(ChoicedIds, Category) %}
	{% import _self as selfMacro %}

	<li class="c-directoryTree--registerItem category-li">
		<input type="checkbox" id="admin_product_category_{{ Category.id }}" name="admin_product[Category][]" value="{{ Category.id }}" {% if Category.id in ChoicedIds %}checked{% endif %}>
		<label for="admin_product_category_{{ Category.id }}">{{ Category.name }}</label>
		<ul class="list-unstyled">
			{% for child,ChildCategory in Category.children %}
				{{ selfMacro.tree(ChoicedIds, ChildCategory) }}
			{% endfor %}
		</ul>
	</li>

{% endmacro %}


{% import _self as renderMacro %}
{% for TopCategory in TopCategories %}
<ul class="list-unstyled">
	{{ renderMacro.tree(ChoicedIds, TopCategory) }}
</ul>
{% endfor %}
