{% extends 'default_frame.twig' %}
{% set body_class = 'front_page' %}
{% block stylesheet %}
<style>
    /*mv_section*/
    .ec-layoutRole{
        padding: 0 !important;
    }
    .ec-layoutRole .ec-layoutRole__contents{
        max-width: 100%;
    }
    .top_mv{
        background: url("{{ asset('assets/img/gift/gift_main_bg.jpg') }}") no-repeat top center;
        background-size: cover;
        padding: 230px 0 320px 0;
    }
    .mv_logo_content{
        position: relative;
    }
    .mv_table{
        width: 84%;
        margin: 0 auto;
        max-width: 1024px;
        background: rgba(0,0,0,.69);
        width: 100%;
        text-align: center;
    }
    .mv_logo_content tr td{
        width: 50%;
        padding: 15px 0;
    }
    .mv_logo{
        width: 38%;
        height: auto;
    }
    .mv_logo_txt{
        font-size: 24px;
        line-height: 1;
        color: #fff;
        font-weight: normal;
        padding: 0;
        margin: 0;
        font-family: 'Sawarabi Mincho', sans-serif;
    }
    .customize_line{
        position: absolute;
        top: auto;
        bottom: 31%;
        left: 0;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .customize_line li{
        width: 20%;
        float: left;
        list-style-type: none;
    }
    .line_red,
    .line_blue,
    .line_yellow,
    .line_green,
    .line_purple{
        content: "";
        background: #811200;
        color: red;
        width: 100%;
        height: 5px;
    }
    .line_blue{
        background: #001cff;
    }
    .line_yellow{
        background: #a78000;
    }
    .line_green{
        background: #3a7300;
    }
    .line_purple{
        background: #690081;
    }
    .gift_header_logo{
        width: 75%;
        height: auto;
    }
    /*end of mv_section*/
	.online_subtitle{
		border-bottom: 2px solid #150532;
	}
    .article_edit_inner{
		max-width: 1120px;
		margin: 90px auto 0 auto;
	}
    .preview_form_table{
        width: 100%;
        margin-bottom: 60px;
		box-sizing: content-box;
    }
    .preview_form_table tr td{
        vertical-align: top;
    }
    .preview_form_table td:first-child{
        width: 30%;
    }
    .preview_form_table td:last-child{
        width: 70%;
        padding: 0 0 0 20px;
    }
    .preview_form_table td img{
        width: 100%;
		height: 100%;
    }
    .preview_form_ttl_01{
        font-size: 16px;
        line-height: 1;
        color: #000;
        font-weight: bold;
        padding:15px 0;
        margin: 0;
    }
    .preview_form_txt_01{
        font-size: 14px;
        line-height: 1.5;
        color: #000;
    }
    .preview_form_table_01{
        padding: 30px 0;
    }
    .preview_form_table_01 td:first-child{
        width: 70%;
    }
    .preview_form_table_01 td:last-child{
        width: 30%;
    }
    .border_customize{
        border: 1px solid #150532;
    }
    .border_hide{
        display: none;
    }
    .youtube_table td:first-child{
        width: 40%;
    }
    .youtube_table td:last-child{
        width: 60%;
        padding: 0 0 0 20px;
    }
    .youtube_video{
        position: relative;
        padding-bottom: 55.25%;
        padding-top: 0;
        height: 0;
    }
    .youtube_video iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .preview_form_table_02 td,
    .preview_form_table_02 td:first-child,
    .preview_form_table_02 td:last-child{
        padding: 15px;
        width: 25%;
    }
    .image{
        margin: 0 auto;
        padding: 15px;
        border: 1px dotted #150532;
    }
    .preview_form_table_02 .img_detailed_02{
        width: 100%;
		height: 100%;
    }
    .preview_form_txl_02{
        font-size: 14px; 
        line-height: 1.3;
        color: #000;
        font-weight: normal;
        padding: 15px 0;
    }
    .information_ttl_01{
        font-size: 14px;
        line-height: 1;
        color: #000;
        font-weight: bold;
        padding: 0 0 0 10px;
        margin: 0;
        /*margin-left: 30px;*/
    }
    .preview_form_table_04 td,
    .preview_form_table_04 td:last-child{
        padding: 15px;
        font-size: 14px;
        line-height: 1.3;
        color: #000;
        border: 1px solid #bdb1bf;
    }
    .preview_form_table_04 td:first-child{
        background: #838581;
        color: #f5f7f2;
    }
    .preview_form_table_02, .preview_form_table_04{
        margin-left: 40px;
        margin-top: 40px;
        width: 95%;
    }
    .preview_form_table_02{
        margin-bottom: 40px;
    }
    .Product_list{
        margin-bottom: 60px;
    }
    .store_item_block_pager{
        list-style: none;
        text-align: right;
        display: block;
        padding: 20px 0 15px 0;
    }
    .supplier_prod_list{
        display: inline-block;
        width: 100%;
       	border-bottom: 1px dotted #817f7f;
        padding: 20px;
    }
    .supplier_prod_img{
        width: 15%;
        float: left;
        display: block;
    }
	.supplier_prod_img img{
		width: 100%;
		height: 100%;
	}
    .supplier_prod_list_entry{
        width: 85%;
        float: right;
    }
    .supplier_prod_name, .supplier_prod_description{
        width: 90%;
        float: left;
        padding-left: 30px;
        text-align: left;
    }
    .supplier_prod_description{
        padding-top: 15px;
    }
    .supplier_prod_list:last-child {
        border-bottom: none;
    }
    .supplier_prod_name{
        width: 70%;
    }
    .supplier_prod_name a{
        color: #469bc6 !important;
        font-weight: bold;
    }
    .supplier_prod_price{
       color: #700101;
       text-align: right;
       font-weight: bold;
    }
    .line_vertical {
        content: "";
        background: #4c5f00;
        width: 4px;
        height: 85px;
        position: absolute;
        left: 20px;
        top: -25px;
    }
    .information_ttl_01{
        font-weight: bold;
        font-size: 16px;
    }
    .pagination a {
        text-decoration: none;
        padding: 5px 10px;
        color: #525263;
        line-height: 1.8;
    }
    .pagination a:hover{
        background: #F3F3F3;

    }
    .pagination .current {
        display: inline-block;
        min-width: 29px;
        line-height: 1.8;
        padding: 0 3px 0 2px;
        text-align: center;
        position: relative;
        background: #F3F3F3;
    }
    .ec-footerRole{
        background: #292c27 !important;
    }
    .ec-footerTitle {
        background: rgba(0,0,0,.69) !important;
    }
    pre {
		font-family: 'Sawarabi Mincho', sans-serif;
        white-space: pre-wrap;       /* Since CSS 2.1 */
        white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
        white-space: -pre-wrap;      /* Opera 4-6 */
        white-space: -o-pre-wrap;    /* Opera 7 */
        word-wrap: break-word;       /* Internet Explorer 5.5+ */
    }
@media only screen and (max-width: 767px){
        /*mv_section*/
        .top_mv{
            padding: 1.90rem 0 1.20rem 0;
        }
        .mv_table{
            max-width: 85%;
        }
        .mv_logo_txt{
            font-size: .24rem;
        }
        .line_red,
        .line_blue,
        .line_yellow,
        .line_green,
        .line_purple{
            height: .05rem;
        }
        /*end of mv_section*/
		.article_edit_inner{
		    margin: .50rem auto 0 auto;
		    width: auto;
		}
		.online_subtitle .icon_01{
		    width: .30rem;
		    height: .33rem;
		}
		.preview_form_ttl_01{
		    font-size: .16rem;
		    padding: 0 0 .15rem 0;
		}
		.preview_form_txt_01,
		.supplier_prod_description,
		.supplier_prod_name a,
		.supplier_prod_price{
    		font-size: .14rem;
		}
		.preview_form_table{
			margin-bottom: .50rem;
		}
		.information_ttl_01{
    		font-size: .16rem;
		}
		.supplier_prod_name{
			padding-left: .30rem;
		}
		.information_ttl_01{
			padding: 0 0 0 .10rem;
		}
		.preview_form_table{
			margin: .30rem .20rem;
		}
		.preview_form_table_04 td,
		.preview_form_table_04 td:last-child,
		.preview_form_table_02 td,
		.preview_form_table_02 td:first-child,
		.preview_form_table_02 td:last-child{
    		padding: .15rem;
    		font-size: .14rem;
		}
		.image{
			padding: .15rem;
		}
		.preview_form_txl_02{
			font-size: .14rem;
			padding: .15rem 0;
			margin: 0;
		}
		.supplier_prod_list{
			padding: .20rem;
		}
		.Product_list{
			margin-bottom: .50rem;
		}
	}
</style>
{% endblock %}
{% block javascript %}
    <script>
    $(function() {
            if($("#url").val() != "")
            { 
                var youTubeUrl = $("#url").val(); 
                var youTubeId;
                var regExp = /^.*(youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=|\&v=)([^#\&\?]*).*/;
                var match = youTubeUrl.match(regExp);
                if (match && match[2].length == 11) {
                    youTubeId = match[2];
                    $('#ytvideo').html('<div><iframe src="//www.youtube.com/embed/'+youTubeId+'" frameborder="0" allowfullscreen></iframe></div>');
                } else {
                }
            }else{
                 $('#youtube_video').html('');
            } 
            if($("#moviecontent").val() == "" &&  $("#url").val()== ""){   
                $("#youtube").hide(); 
            }else{
                $( "#youtube" ).show(); 
            }
           if($("#title2").val() == "" && $("#content2").val() == "" && $("#hdlogo2").val() == ""  ){
                $( "#area2" ).removeClass( "border_customize" );
                $( "#area2" ).addClass( "border_hide" );
            }else{
                $( "#area2" ).addClass( "border_customize" );
                $( "#area2" ).removeClass( "border_hide" );
            }
            if($('#modalpreviewimage1').attr('src') == "" && $('#modalpreviewimage2').attr('src') == "" &&  $('#modalpreviewimage3').attr('src') == "" && $('#modalpreviewimage4').attr('src') == "" && $('#modalpreviewimage5').attr('src') == "" && $('#modalpreviewimage6').attr('src') == "" &&  $('#modalpreviewimage7').attr('src') == "" && $('#modalpreviewimage8').attr('src') == "" ){
            $("#imagearea").hide(); 
            $('.image').hide();
            }else{
                $('.image').show();
                $("#imagearea").show(); 
            }
           $("img[src='']").parent(".image").hide(); 
      
    }); 
	$('.preview_form_table').on('setPosition', function () {
		jbResizeSlider01();
	});
	 
	$(window).on('resize', function(e) {
		jbResizeSlider01();
	});
	 
	function jbResizeSlider01(){
		$slickSlider = $('.preview_form_table');
		$slickSlider.find('.image_height').height('auto');
	 
		var slickTrack = $slickSlider.find('.image_height');
		var slickTrackWidth = $(slickTrack).width();
	 
		$slickSlider.find('.image_height').css('height', slickTrackWidth + 'px');
	}


	$('.supplier_prod_list').on('setPosition', function () {
		jbResizeSlider02();
	});
	 
	$(window).on('resize', function(e) {
		jbResizeSlider02();
	});
	 
	function jbResizeSlider02(){
		$slickSlider = $('.supplier_prod_list');
		$slickSlider.find('.supplier_prod_img').height('auto');
	 
		var slickTrack = $slickSlider.find('.supplier_prod_img');
		var slickTrackWidth = $(slickTrack).width();
	 
		$slickSlider.find('.supplier_prod_img').css('height', slickTrackWidth + 'px');
	}

	$('.preview_form_table_0').on('setPosition', function () {
		jbResizeSlider03();
	});
	 
	$(window).on('resize', function(e) {
		jbResizeSlider03();
	});
	 
	function jbResizeSlider03(){
		$slickSlider = $('.preview_form_table_02');
		$slickSlider.find('.image_height_01').height('auto');
	 
		var slickTrack = $slickSlider.find('.image_height_01');
		var slickTrackWidth = $(slickTrack).width();
	 
		$slickSlider.find('.image_height_01').css('height', slickTrackWidth + 'px');
	}
    </script>
{% endblock javascript %}
{% block main %}
     <div class="ec-sliderRole">
        <div class="article_edit_inner">
            <div class="online_subtitle">
                <img class="icon_01" src="{{ asset('assets/img/icon_01.jpg') }}" width="30" height="33">
                <h2 class="online_subtitle_ttl_01">事業者紹介</h2>
            </div>
            <table class="preview_form_table" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
					<div class="image_height">
                         <img src="/supplierdensaku/public/images/{{supplierstore.supplier_id}}/{{supplierstore.logo_1}}?{{random()}}">
					</div>
                    </td>
                    <td>
                        <h3 class="preview_form_ttl_01">{{supplierstore.title_1}}</h3>
                        <pre class="preview_form_txt_01">{{supplierstore.content_1}}</pre>
                    </td>
                </tr>
            </table>
            {% if supplierstore.title_2 %}
            <hr class="border_customize" id="area2">
             <table class="preview_form_table preview_form_table_01" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                        <h3 class="preview_form_ttl_01" id="title2">{{supplierstore.title_2}}</h3>
                        <pre class="preview_form_txt_01" id ="content2">{{supplierstore.content_2}}</pre>
                    </td>
                    <td>
                        <input type="hidden" value="{{supplierstore.logo_2}}" name="logo_2" id="hdlogo2">
                        {% if supplierstore.logo_2 != "" %}
                            <img src="/supplierdensaku/public/images/{{supplierstore.supplier_id}}/{{supplierstore.logo_2}}?{{random()}}" id ="logo2">
                        {% endif %}
                    </td>
                </tr>
            </table>            
            {% endif %}
            {% if supplierstore.movie_url %}
            <div id="youtube">
                <h2 class="information_ttl_01">事業所関連動画紹介 </h2>
                <hr class="border_customize">
            </div>
             <table class="preview_form_table youtube_table" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                       <input type="hidden" class="admin_search form-control" name="url" value="{{supplierstore.movie_url}}" id="url">
                        <div class="youtube_video" id="ytvideo">
                        </div>
                    </td>
                    <td>
                        <pre class="preview_form_txt_01" id ="moviecontent">{{supplierstore.movie_content}}</pre>
                    </td>
                </tr>
            </table>
             {% endif %}
            {# <div class="custom_line">
                <div class="line_vertical"></div>
            </div> #}
            <h2 class="information_ttl_01">販売商品 </h2>
            <hr class="border_customize">
            <div>
                {% if pagi_product_list|length > 0 %}
                <ul class="store_item_block_pager">
                    <li>{{ knp_pagination_render(pagi_product_list) }}</li>
                </ul>
                <div class="Product_list">
                    {% for supplierProduct in pagi_product_list %}
                    <div class="supplier_prod_list">
                        <div class="supplier_prod_img">
                            <a href="{{ url('product_detail', {'id': supplierProduct.id}) }}">
                                <img src="{{ asset(supplierProduct.file_name, 'save_image') }}">
                            </a>
                        </div>
                        <div class="supplier_prod_list_entry">
                            <div class="supplier_prod_name">
                                <a href="{{ url('product_detail', {'id': supplierProduct.id}) }}">
                                    {{supplierProduct.name}}
                                </a>
                            </div>
                            <div class="supplier_prod_description">
                                {{supplierProduct.description_detail}}
                            </div>
                             <div class="supplier_prod_price">
                               ￥{{(supplierProduct.price02 + (supplierProduct.price02 * taxRate))|number_format(0, '', ',')}}(税込)
                            </div>
                        </div>
                    </div>   
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            {% if supplierstore.image_1 or supplierstore.image_2 or supplierstore.image_3 or supplierstore.image_4 or supplierstore.image_5 or supplierstore.image_6 or supplierstore.image_7 or supplierstore.image_8 %}
            <div id="imagearea">
                <h2 class="information_ttl_01">関連画像</h2>
                <hr class="border_customize">
            </div>
            <table class="preview_form_table preview_form_table_02" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                        <div class="image">
                            {% if supplierstore.image_1 != "" %}
							<div class="image_height_01">
                                <img class="img_detailed_02" src="/supplierdensaku/public/images/{{supplierstore.supplier_id}}/{{supplierstore.image_1}}?{{random()}}">
							</div>
                            {% endif %}
                            <p class="preview_form_txl_02">{{supplierstore.image_title_1}}</p>
                        </div>
                    </td>
                    <td>
                        {% if supplierstore.image_2 != "" %}
                        <div class="image">
                            <div class="image_height_01">
                                <img class="img_detailed_02" src="/supplierdensaku/public/images/{{supplierstore.supplier_id}}/{{supplierstore.image_2}}?{{random()}}">
                            </div>
                            <p class="preview_form_txl_02">{{supplierstore.image_title_2}}</p>
                        </div>
                        {% endif %}
                    </td>
                    <td>
                        {% if supplierstore.image_3 != "" %}                                
                        <div class="image">
                            <div class="image_height_01">
                                <img class="img_detailed_02" src="/supplierdensaku/public/images/{{supplierstore.supplier_id}}/{{supplierstore.image_3}}?{{random()}}">
                            </div>
                            <p class="preview_form_txl_02">{{supplierstore.image_title_3}}</p>
                        </div>
                        {% endif %}
                    </td>
                    <td>
                        {% if supplierstore.image_4 != "" %}
                        <div class="image">
                            <div class="image_height_01">
                                <img class="img_detailed_02" src="/supplierdensaku/public/images/{{supplierstore.supplier_id}}/{{supplierstore.image_4}}?{{random()}}">
                            </div>
                            <p class="preview_form_txl_02">{{supplierstore.image_title_4}}</p>
                        </div>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>
                        {% if supplierstore.image_5 != "" %}
                        <div class="image">
                            <div class="image_height_01">
                                <img class="img_detailed_02" src="/supplierdensaku/public/images/{{supplierstore.supplier_id}}/{{supplierstore.image_5}}?{{random()}}">
                            </div>
                            <p class="preview_form_txl_02">{{supplierstore.image_title_5}}</p>
                        </div>
                        {% endif %}
                    </td>
                    <td>
                        {% if supplierstore.image_6 != "" %}
                        <div class="image">
                            <div class="image_height_01">
                                <img class="img_detailed_02" src="/supplierdensaku/public/images/{{supplierstore.supplier_id}}/{{supplierstore.image_6}}?{{random()}}">
                            </div>
                            <p class="preview_form_txl_02">{{supplierstore.image_title_6}}</p>
                        </div>
                        {% endif %}
                    </td>
                    <td>
                        {% if supplierstore.image_7 != "" %}
                        <div class="image">
                            <div class="image_height_01">
                                <img class="img_detailed_02" src="/supplierdensaku/public/images/{{supplierstore.supplier_id}}/{{supplierstore.image_7}}?{{random()}}">
                            </div>
                            <p class="preview_form_txl_02">{{supplierstore.image_title_7}}</p>
                        </div>
                        {% endif %}
                    </td>
                    <td>
                        {% if supplierstore.image_8 != "" %}
                        <div class="image">
                            <div class="image_height_01">
                                <img class="img_detailed_02" src="/supplierdensaku/public/images/{{supplierstore.supplier_id}}/{{supplierstore.image_8}}?{{random()}}">
                            </div>
                            <p class="preview_form_txl_02">{{supplierstore.image_title_8}}</p>
                        </div>
                        {% endif %}
                    </td>
                </tr>
            </table>
             {% endif %}
           {#  <div class="custom_line">
                <div class="line_vertical"></div>
            </div> #}
            <h2 class="information_ttl_01">基本情報 </h2>
            <hr class="border_customize">
            <table class="preview_form_table preview_form_table_04" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                        商号
                    </td>
                    <td>
                        {{supplier.trade_name}}
                    </td>
                </tr>
                <tr>
                    <td>
                        設立
                    </td>
                    <td>
                       {{supplier.establishment_year}} 
                    </td>
                </tr>
                <tr>
                    <td>
                        住所
                    </td>
                    <td>
                        {{supplier.prefecture}} {{supplier.city}} {{supplier.address}}
                    </td>
                </tr>
                <tr>
                    <td>
                        従業員数
                    </td>
                    <td>
                        {{supplier.employees}}
                    </td>
                </tr>
                <tr>
                    <td>
                        取り扱い品目
                    </td>
                    <td>
                        {{workitem}}
                    </td>
                </tr>
                <tr>
                    <td>
                        メールアドレス
                    </td>
                    <td>
                       {{supplier.email}}
                    </td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}