{% extends 'default_frame.twig' %}
{% set body_class = 'front_page' %}
{% block stylesheet %}
<style>
    .ec-layoutRole .ec-layoutRole__main {
        margin-top: 60px;
        background: #eff0f4;
        padding: 0 20px 200px 20px;
    }
    .custom_line {
        position: relative;
        width: 100%;
    }
    .line {
        margin-top: 90px !important;
    }
    .line_vertical {
        content: "";
        background: #667F00;
        width: 4px;
        height: 100px;
        position: absolute;
        left: 20px;
        top: 20px;
    }
    .title{
        margin: 0;
        top: -55px;
        position: absolute;
        text-align: left;
        font-weight: bold;
        margin-left: -20px;
        font-size: 22px;
        font-family: 'Sawarabi Mincho';
        color: #667F00;
    } 
    .supplier_lists{
        width: 90%;
        margin: 115px auto 40px 60px;
        display: inline-block;
        font-size: 16px;
        position: relative;
    }
    .supplier_list_name ul{
        padding: 0;
        list-style: none;
        text-align: center;
    }
    .supplier_list_name ul li::before {
      content: "■";
      padding-right: 8px;
      color: #667F00;
    }
    .row{
        width: 25%;
        display: flex;
        flex-wrap: wrap;
        float: left;
        text-align: left;
    }
    .supplier_list_name a{
        color: #667F00;
    }
      
</style>
{% endblock %}
{% block javascript %}
    <script>

    </script>
{% endblock javascript %}
{% block main %}

    {% if supplierlists|length > 0 %}
    <div class="custom_line">
        <div class="line"></div>
        <div class="line_vertical"></div>
    </div>
    <div class="supplier_lists"> 
        <h2 class="title">{{ prefecture }}</h2>
        {% for supplier in supplierlists %}
            <div class="row">
                <div class="supplier_list_name">
                    <ul>
                        <li>
                            <a href="{{ url('detail_info', {'id':supplier.id}) }}">{{ supplier.trade_name }}</a>
                        </li>
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>
    {% else %}

<div class="ec-searchnavRole">
    <p class="errormsg text-danger">{{ '指定されたサプライヤーは存在しません'|trans }}</p>
</div>
        
{% endif %}        
{% endblock %}