{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% form_theme form 'Form/form_div_layout.twig' %}

{% block javascript %}
    <!-- <script src="//yubinbango.github.io/yubinbango/yubinbango.js" charset="UTF-8"></script> -->
    <script>
    function fetchZip(zip) {
        $.ajax({
            method: 'GET',
            url: 'supplierdensaku/public/service/zip',
            dataType: 'json',
            data: {
                'zipCode': zip,             
            },
            
            success: function (result) {
                var zipCodeDetail       = result.zipCodeDetail;
                var CityAddressDetail   = result.CityAddressDetail;             
                var cityAddressLength   = CityAddressDetail.length;

                if (zipCodeDetail.length > 0) 
                {
                    var pref = zipCodeDetail[0]['pref'];
                    var city = zipCodeDetail[0]['city'];
                    var city_list = '<option value="">選択してください。</option>';
                    for (var i = 0; i < cityAddressLength; i++) {
                        city_list += '<option value="' + CityAddressDetail[i]['city'] + '">' + CityAddressDetail[i]['city'] + '</option>';
                    }
                    $('#contact_address_addr01').html(city_list).val(city);                                   
                    $('#contact_address_pref > option').filter(function() {
                        return $(this).text() == pref;
                    }).prop('selected', true);
                    $('#contact_address_addr02').val(zipCodeDetail[0]['street']);
                    $('.zip_error').text('').hide();
                }               
                else 
                {
                    $('#contact_address_addr01').val('');
                    $('#contact_address_pref').val('');
                    $('#contact_address_addr02').val('');
                    $('.zip_error').text('郵便番号が存在しません').show();
                }
            }
        });
    }
    $(document).ready(function() {
        $('#btn_postal_code').click(function() {
            var post = $('#contact_postal_code').val();
            fetchZip(post);
        });
        $('#contact_address_pref').on('change', function() {
            var pref = $('#contact_address_pref option:selected').text();
            console.log(pref);
            $('#contact_address_addr01').val('');
            $.ajax({
                method: 'GET',
                url: 'supplierdensaku/public/service/cities',
                dataType: 'json',
                data: {
                    'pref': pref,
                },
                success: function (data) {
                    var length = data.length;
                    var html_selectbox = '';
                    html_selectbox = '<option value="">選択してください。</option>';
                    for (var i=0; i<length; i++) {
                        html_selectbox += '<option value="' + data[i]['city'] + '">' + data[i]['city'] + '</option>';
                    }
                    $('#contact_address_addr01').html(html_selectbox);
                }
            });
        });
    });
    </script>

{% endblock javascript %}

{% block main %}

    <div class="ec-contactRole">
        <div class="ec-pageHeader">
            <h1>{{ 'お問い合わせ'|trans }}</h1>
        </div>
        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell">
                <form method="post" action="{{ url('contact') }}" class="h-adr" novalidate>
                    <span class="p-country-name" style="display:none;">Japan</span>
                    {{ form_widget(form._token) }}
                    <p class="ec-para-normal">{{ '内容によっては回答をさしあげるのにお時間をいただくこともございます。
また、休業日は翌営業日以降の対応となりますのでご了承ください。
'|trans|nl2br }}</p>
                    <div class="ec-borderedDefs">
                        <dl>
                            <dt>
                                {{ form_label(form.name, 'お名前', { 'label_attr': { 'class': 'ec-label' }}) }}
                            </dt>
                            <dd>
                                <div class="ec-halfInput{{ has_errors(form.name.name01, form.name.name02) ? ' error' }}">
                                    {{ form_widget(form.name.name01, {'attr': { 'placeholder': '姓' }}) }}
                                    {{ form_widget(form.name.name02, {'attr': { 'placeholder': '名' }}) }}
                                    {{ form_errors(form.name.name01) }}
                                    {{ form_errors(form.name.name02) }}
                                </div>
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                {{ form_label(form.kana, 'お名前(カナ)', {'label_attr': {'class': 'ec-label'}}) }}
                            </dt>
                            <dd>
                                <div class="ec-halfInput{{ has_errors(form.kana.kana01, form.kana.kana02) ? ' error' }}">
                                    {{ form_widget(form.kana.kana01, {'attr': { 'placeholder': 'セイ' }}) }}
                                    {{ form_widget(form.kana.kana02, {'attr': { 'placeholder': 'メイ' }}) }}
                                    {{ form_errors(form.kana.kana01) }}
                                    {{ form_errors(form.kana.kana02) }}
                                </div>
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                {{ form_label(form.address, '住所', { 'label_attr': { 'class': 'ec-label' }}) }}
                            </dt>
                            <dd>
                                <div class="ec-zipInput{{ has_errors(form.postal_code) ? ' error' }}">
                                    <span>{{ '〒'|trans }}</span>
                                    {{ form_widget(form.postal_code) }}
                                     <button type="button" class="btn btn-default btn-danger" id="btn_postal_code" style="margin-left:5px;">郵便番号から住所を設定</button>
                                </div>
                                <div class="ec-zipInputHelp">
                                    {# <div class="ec-zipInputHelp__icon">
                                        <div class="ec-icon"><img
                                                    src="{{ asset('assets/icon/question-white.svg') }}" alt="">
                                        </div>
                                    </div> #}
                                    <a href="https://www.post.japanpost.jp/zipcode/" target="_blank"><span>{{ '郵便番号検索'|trans }}</span></a>
                                </div>
                                {{ form_errors(form.postal_code) }}
                                <p class="zip_error ec-errorMessage" style="display:none;"></p>
                                <div class="ec-select{{ has_errors(form.address.pref) ? ' error' }}">
                                    {{ form_widget(form.address.pref) }}
                                    {{ form_errors(form.address.pref) }}
                                </div>
                                <div class="ec-select{{ has_errors(form.address.addr01) ? ' error' }}">
                                    {{ form_widget(form.address.addr01, { 'attr': { 'placeholder': '市区町村名(例：大阪市北区)' }}) }}
                                    {{ form_errors(form.address.addr01) }}
                                </div>
                                <div class="ec-input{{ has_errors(form.address.addr02) ? ' error' }}">
                                    {{ form_widget(form.address.addr02,  { 'attr': { 'placeholder': '番地・ビル名(例：西梅田1丁目6-8)' }}) }}
                                    {{ form_errors(form.address.addr02) }}
                                </div>
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                {{ form_label(form.phone_number, '電話番号', { 'label_attr': { 'class': 'ec-label' }}) }}
                            </dt>
                            <dd>
                                <div class="ec-telInput{{ has_errors(form.phone_number) ? ' error' }}">
                                    {{ form_widget(form.phone_number) }}
                                    {{ form_errors(form.phone_number) }}
                                </div>
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                {{ form_label(form.email, 'メールアドレス', { 'label_attr': { 'class': 'ec-label' }}) }}
                            </dt>
                            <dd>
                                <div class="ec-input{{ has_errors(form.email) ? ' error' }}">
                                    {{ form_widget(form.email) }}
                                    {{ form_errors(form.email) }}
                                </div>
                            </dd>
                        </dl>
                        <dl>
                            <dt>
                                {{ form_label(form.email, 'お問い合わせ内容', { 'label_attr': { 'class': 'ec-label' }}) }}
                            </dt>
                            <dd>
                                <div class="ec-input{{ has_errors(form.contents) ? ' error' }}">
                                    {{ form_widget(form.contents) }}
                                    {{ form_errors(form.contents) }}
                                </div>
                                <p>{{ 'ご注文に関するお問い合わせには、必ず「ご注文番号」をご記入くださいますようお願いいたします。'|trans }}</p>
                            </dd>
                        </dl>
                        {# エンティティ拡張の自動出力 #}
                        {% for f in form if f.vars.eccube_form_options.auto_render %}
                            {% if f.vars.eccube_form_options.form_theme %}
                                {% form_theme f f.vars.eccube_form_options.form_theme %}
                                {{ form_row(f) }}
                            {% else %}
                                <dl>
                                    <dt>
                                        {{ form_label(f) }}
                                    </dt>
                                    <dd>
                                        <div class="{{ f.vars.eccube_form_options.style_class }}{{ has_errors(f) ? ' error' }}">
                                            {{ form_widget(f) }}
                                            {{ form_errors(f) }}
                                        </div>
                                    </dd>
                                </dl>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="ec-RegisterRole__actions">
                        <div class="ec-off4Grid">
                            <div class="ec-off4Grid__cell">
                                <button type="submit" class="ec-blockBtn--action" name="mode" value="confirm">{{ '確認ページへ'|trans }}
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
