{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends '@admin/default_frame.twig' %}

{% set menus = ['product', 'product_tagedit'] %}

{% block title %}{{ 'admin.product.tag_header'|trans }}{% endblock %}
{% block sub_title %}{{ 'admin.product.tag_subheader'|trans }}{% endblock %}

{% form_theme searchForm '@admin/Form/bootstrap_4_layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/tempusdominus-bootstrap-4.min.css', 'admin') }}">
    <style type="text/css">
        .datepicker-days th.dow:first-child,
        .datepicker-days td:first-child {
            color: #f00;
        }

        .datepicker-days th.dow:last-child,
        .datepicker-days td:last-child {
            color: #00f;
        }
    </style>
{% endblock stylesheet %}

{% block javascript %}
    <script>
        $(function() {

             $('input[id^="trigger_check_all"]').on('change', function() {
                var checked = $(this).prop('checked');
                var checkedId = $(this).attr("id");
                var id = checkedId.replace('trigger_check_all_','');
          
                if (checked) {
                    $('input[id^='+id+']').prop('checked', true);
                } else {
                    $('input[id^='+id+']').prop('checked', false);
                }
            });

            $('#form_tag').find('.action-submit').on('click', function(event) {
                event.preventDefault();
                var form = $(this).closest('form');
               

                $('<input />').attr('type', 'hidden').attr('name', '{{ constant('Eccube\\Common\\Constant::TOKEN_NAME') }}')
                    .val($(this).attr('token-for-anchor'))
                    .appendTo(form);
                form.attr('action', $(this).data('action')).submit();
                return false;
            });

            var dataClass = [];
            var modalClass = $('#productClassesModal');
            $('form#form_tag').on('click', 'table.table button[data-class-url]', function() {
                var btnClass = $(this);
                btnClass.attr('disabled', true);
                var productId = btnClass.data('product-id');

                if (dataClass[productId] != undefined) {
                    renderClass(dataClass[productId], btnClass);
                    return;
                }

                $.ajax({
                    url: btnClass.data('class-load'),
                    type: 'GET',
                }).done(function(data) {
                    dataClass[productId] = data;
                    renderClass(dataClass[productId], btnClass);
                }).fail(function() {
                    alert('Failed');
                });
            });

            // Append html and show popup
            function renderClass(data, btnClass) {
                $('div.modal-body', modalClass).html(data);
                $('h5.modal-title', modalClass).text(btnClass.data('message'));
                $('a.btn-ec-conversion', modalClass).attr('href', btnClass.data('class-url'));
                modalClass.modal('show');
                btnClass.attr('disabled', false);
            }
        });
    </script>
{% endblock javascript %}

{% block main %}
    <div class="c-outsideBlock">
        <form id='search_form_tag' method="post" action="{{ url('admin_producttag') }}">
            {{ form_widget(searchForm._token) }}
            <div class="c-outsideBlock__contents">
                <div class="row justify-content-start">

                    <div class="col-6">
                        <div class="mb-4">
                            <label class="col-form-label" data-tooltip="true" data-placement="top" title="{{ 'tooltip.product.multi_search_label'|trans }}">{{ 'admin.product.multi_search_label'|trans }}<i class="fa fa-question-circle fa-lg ml-1"></i></label>
                            {{ form_widget(searchForm.id) }}
                            {{ form_errors(searchForm.id) }}
                        
                            <label class="col-form-label" data-tooltip="true" data-placement="top" title="{{ 'tooltip.product.multi_search_label'|trans }}">{{('admin.supplier.multi_search_label')|trans}}<i class="fa fa-question-circle fa-lg ml-1"></i></label>
                            {{ form_widget(searchForm.supplier_id, { 'attr': {'class': 'form_control_01 mb-3'} }) }}
                            {{ form_errors(searchForm.supplier_id) }}


                            {{ form_widget(searchForm.tag, {'label_attr': {'class': 'checkbox-inline'}}) }}
                            {{ form_errors(searchForm.tag) }}
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="c-outsideBlock__contents mb-5">
                <button class="btn btn-ec-conversion px-5" type="submit">{{ 'admin.common.search'|trans }}</button>
                {% if pagination %}
                    <span class="font-weight-bold ml-2">{{ 'admin.common.search_result'|trans({"%count%":pagination.totalItemCount})|raw }}</span>
                {% endif %}
            </div>
            <div class="c-outsideBlock__contents mb-5">
                {{ include('@admin/search_items.twig', { 'form': searchForm }, ignore_missing = true) }}
            </div>
        </form>
    </div>
    <div class="c-contentsArea__cols">
        <div class="c-contentsArea__primaryCol">
            <div class="c-primaryCol">
                {% if pagination and pagination.totalItemCount %}
                    <form id="form_tag" method="POST" action="">
                        <div class="row justify-content-between mb-2">
                            <div class="col-6">
                                <div id="btn_bulk">
                                    <label class="mr-2">{{ 'admin.common.bulk_actions'|trans }}</label>
                                    <div class="btn-group mr-2" role="group">
                                        <button {{ csrf_token_for_anchor() }} data-action="{{ url('admin_product_product_tag', {id: constant('Eccube\\Entity\\Master\\ProductStatus::DISPLAY_SHOW')}) }}" class="btn btn-ec-regular action-submit px-5 ladda-button" type="button">
                                            <span>Tag</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-5 text-right">
                                <div class="d-inline-block mr-2">
                                    <div>
                                        <select class="custom-select" onchange="location = this.value;">
                                            {% for pageMax in pageMaxis %}
                                                <option {% if pageMax.name == page_count %}selected=""{% endif %} value="{{ path('admin_producttag_page', {'page_no': 1, 'page_count': pageMax.name}) }}">{{ 'admin.common.count'|trans({ '%count%': pageMax.name }) }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card rounded border-0 mb-4 d-block">
                            <div class="card-body p-0">
                                <table class="table table-sm">
                                    <thead>
                                    <tr>
                                        <th class="border-top-0 pt-2 pb-2 pl-5">{{ 'admin.product.product_id__short'|trans }}</th>
                                        <th class="border-top-0 pt-2 pb-2">{{ 'admin.product.image__short'|trans }}</th>
                                        <th class="border-top-0 pt-2 pb-2">{{ 'admin.product.name'|trans }}</th>
                                        <th class="border-top-0 pt-2 pb-2">{{ 'admin.product.product_code__short'|trans }}</th>
                                        <th class="border-top-0 pt-2 pb-2 text-right" class="ml-3">春<input type="checkbox" name="filter" value="spring" id="trigger_check_all_spring" class="ml-3"></th>
                                        <th class="border-top-0 pt-2 pb-2 text-right">夏<input type="checkbox" name="filter" value="summer" id="trigger_check_all_summer" class="ml-3"></th>
                                        <th class="border-top-0 pt-2 pb-2 text-right">秋<input type="checkbox" name="filter" value="autumn" id="trigger_check_all_autumn" class="ml-3"></th>
                                        <th class="border-top-0 pt-2 pb-2 text-right">冬<input type="checkbox" name="filter" value="winter" id="trigger_check_all_winter" class="ml-3"></th>
                                        <th class="border-top-0 pt-2 pb-2 text-right">お中元　お歳暮<input type="checkbox" name="newyeargifts" value="spring" id="trigger_check_all_newyeargifts" class="ml-3"></th>
                                        <th class="border-top-0 pt-2 pb-2 text-right pr-5">ピックアップ<input type="checkbox" name="pickup" value="spring" id="trigger_check_all_pickup" class="ml-3"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for Product in pagination %}
                                        <tr id="ex-product-{{ Product.id }}">
                                            <td class="align-middle pt-2 pb-2 pl-5">{{ Product.id }}</td>
                                            {# TODO: 画像のサイズをベタ指定しているので、styleguide側を直す #}
                                            <td class="align-middle">
                                                <a href="{{ url('admin_product_product_edit', { id : Product.id }) }}">
                                                    <img src="{{ asset(Product.mainFileName|no_image_product, 'save_image') }}"
                                                    style="max-width: 50px">
                                                </a>
                                            </td>
                                            <td class="align-middle">
                                                <a href="{{ url('admin_product_product_edit', { id : Product.id }) }}">{{ Product.name }}</a>
                                            </td>                                            
                                            <td class="align-middle">{% for ProductClasses in Product.ProductClasses %}{{ ProductClasses.code }}{% endfor %}
                                            </td>   
                                            <td class="align-middle text-right">
                                                <input type="hidden" name="product_tag[{{Product.id}}][]" value=0>
                                                <input type="checkbox" name="product_tag[{{Product.id}}][]" {% for Tag in Product.ProductTag %}{% if Tag.Tag == "春" %} checked {% endif %} {% endfor %} value="春" id="spring">
                                            </td>
                                            <td class="align-middle text-right">
                                                <input type="hidden" name="product_tag[{{Product.id}}][]" value=0>
                                                <input type="checkbox" name="product_tag[{{Product.id}}][]" {% for Tag in Product.ProductTag %}{% if Tag.Tag == "夏" %} checked {% endif %} {% endfor %} value="夏" id="summer">
                                            </td>  
                                            <td class="align-middle text-right">
                                                <input type="hidden" name="product_tag[{{Product.id}}][]" value=0>
                                                <input type="checkbox" name="product_tag[{{Product.id}}][]" {% for Tag in Product.ProductTag %}{% if Tag.Tag == "秋" %} checked {% endif %} {% endfor %} value="秋" id="autumn">
                                            </td>
                                            <td class="align-middle text-right">
                                                <input type="hidden" name="product_tag[{{Product.id}}][]" value=0>
                                                <input type="checkbox" name="product_tag[{{Product.id}}][]" {% for Tag in Product.ProductTag %}{% if Tag.Tag == "冬" %} checked {% endif %} {% endfor %} value="冬" id="winter">
                                            </td>
                                            <td class="align-middle text-right">
                                                <input type="hidden" name="product_tag[{{Product.id}}][]" value=0>
                                                <input type="checkbox" name="product_tag[{{Product.id}}][]" {% for Tag in Product.ProductTag %}{% if Tag.Tag == "お中元　お歳暮" %} checked {% endif %} {% endfor %} value="お中元　お歳暮" id="newyeargifts">
                                            </td>   
                                            <td class="align-middle text-right pr-5">
                                                <input type="hidden" name="product_tag[{{Product.id}}][]" value=0>
                                                <input type="checkbox" name="product_tag[{{Product.id}}][]" {% for Tag in Product.ProductTag %}{% if Tag.Tag == "ピックアップ" %} checked {% endif %} {% endfor %} value="ピックアップ" id="pickup">
                                            </td>
                                        </tr>
                                          {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                            {% if pagination.totalItemCount > 0 %}
                                <div class="row justify-content-md-center mb-4 pb-4">
                                    {% include "@admin/pager.twig" with { 'pages' : pagination.paginationData, 'routes' : 'admin_producttag_page' } %}
                                </div>
                            {% endif %}
                        </div>
                    </form>
                {% elseif has_errors %}
                    <div class="card rounded border-0">
                        <div class="card-body p-4">
                            <div class="text-center text-muted mb-4 h5">{{ 'admin.common.search_invalid_condition'|trans }}</div>
                            <div class="text-center text-muted">{{ 'admin.common.search_try_change_condition'|trans }}</div>
                        </div>
                    </div>
                {% else %}
                    <div class="card rounded border-0">
                        <div class="card-body p-4">
                            <div class="text-center text-muted mb-4 h5">{{ 'admin.common.search_no_result'|trans }}</div>
                            <div class="text-center text-muted">{{ 'admin.common.search_try_change_condition'|trans }}</div>
                            <div class="text-center text-muted">{{ 'admin.common.search_try_advanced_search'|trans }}</div>
                        </div>
                    </div>
                {% endif %}
            </div>

            <!-- 完全に削除の確認モーダル-->
            <div class="modal fade" id="bulkDeleteModal" tabindex="-1" role="dialog" aria-labelledby="discontinuance" aria-hidden="true" data-keyboard="false" data-backdrop="static">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title font-weight-bold">{{ 'admin.product.permanently_delete__confirm_title'|trans }}</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        </div>
                        <div class="modal-body text-left">
                            <p class="text-left">{{ 'admin.product.permanently_delete__confirm_message'|trans }}</p>
                            <ul id="bulkErrors"></ul>
                            <div class="progress" style="display: none">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-ec-sub" type="button" data-dismiss="modal">{{ 'admin.common.cancel'|trans }}</button>
                            <button class="btn btn-ec-delete" type="button" id="bulkDelete">{{ 'admin.product.permanently_delete' | trans }}</button>
                            <button class="btn btn-ec-regular" id="bulkDeleteDone" style="display: none" type="button" data-dismiss="modal">{{ 'admin.product.permanently_delete__complete'|trans }}</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="modal fade" id="productClassesModal" tabindex="-1" role="dialog" aria-labelledby="productClassesModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title font-weight-bold">{# Title #}</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    {# Append data list #}
                </div>
                <div class="modal-footer">
                    <button class="btn btn-v-sub" type="button" data-dismiss="modal">
                        {{ 'admin.common.cancel'|trans }}
                    </button>
                    <a class="btn btn-ec-conversion"
                       href="#">
                        {{ 'admin.product.move_to_product_class'|trans }}
                    </a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /#productClassesModal -->
{% endblock %}

