<!doctype html>
{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
<html lang="{{ eccube_config.locale }}">
<head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="eccube-csrf-token" content="{{ csrf_token(constant('Eccube\\Common\\Constant::TOKEN_NAME')) }}">
    <title>{{ block('sub_title') }} {{ block('title') }} - {{ BaseInfo.shop_name }}</title>
    <link rel="icon" href="{{ asset('assets/img/favicon.ico', 'admin') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.css', 'admin') }}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/v4-shims.css">
    <link rel="stylesheet" href="{{ asset('assets/css/ladda-themeless.min.css', 'admin') }}"></link>
    <link rel="stylesheet" href="{{ asset('assets/css/app.css', 'admin') }}">
    {% block stylesheet %}{% endblock %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script>
        $(function() {
            $.ajaxSetup({
                'headers': {
                    'ECCUBE-CSRF-TOKEN': $('meta[name="eccube-csrf-token"]').attr('content')
                }
            });
        });
    </script>
    {# プラグイン用styleseetやmetatagなど #}
    {% if plugin_assets is defined %}{{ include('@admin/snippet.twig', {snippets: plugin_assets}) }}{% endif %}
</head>
<body id="page_{{ app.request.get('_route') }}">
   
<header class="c-headerBar">
    <div class="c-headerBar__container">
        <div class="c-headerBar__logo">
            <h1><a href="{{ url('homepage') }}" target="_blank"><img src="{{ asset('assets/img/logo (2).png', 'admin') }}"></a></h1>
        </div>
        <a class="c-headerBar__toggleBtn"><i class="fa fa-bars" aria-hidden="true"></i></a>
        <span class="c-headerBar__shopTitle">運営管理者画面</span>
        
        <a class="c-headerBar__userMenu"
           data-container="body"
           data-toggle="popover"
           data-placement="bottom"
           title="{{ 'admin.header.last_login'|trans }}"
           data-content="&lt;p&gt;{{ app.user.login_date|date_min }}&lt;/p&gt;&lt;a href='{{ url("admin_change_password") }}' class='btn btn-ec-regular btn-block'&gt;{{ 'admin.header.change_password'|trans }}&lt;/a&gt;&lt;a href='{{ url("admin_logout") }}' class='btn btn-ec-sub btn-block'&gt;{{ 'admin.header.logout'|trans }}&lt;/a&gt;"
           data-html="true"><i class="fa fa-user-circle" aria-hidden="true"></i><span>{{ 'admin.header.user_name'|trans({'%name%':app.user.name}) }}</span><i class="fa fa-angle-down" aria-hidden="true"></i></a>
    </div>
</header>
<div class="c-container">
    <div class="c-mainNavArea">
        {{ include('@admin/nav.twig') }}
    </div>
    <div class="c-curtain"></div>
    <div class="c-contentsArea">
        <div class="c-pageTitle">
            <div class="c-pageTitle__titles">
                <h2 class="c-pageTitle__title">{{ block('title') }}</h2><span class="c-pageTitle__subTitle">{{ block('sub_title') }}</span>
            </div>
        </div>

        {{ include('@admin/alert.twig') }}

        {% block main %}{% endblock %}

    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="{{ asset('assets/js/vendor/spin.min.js', 'admin') }}"></script>
<script src="{{ asset('assets/js/vendor/ladda.min.js', 'admin') }}"></script>
{% include('@common/lang.twig') %}
<script src="{{ asset('assets/js/function.js', 'admin') }}"></script>
{% block javascript %}{% endblock %}
{# プラグイン用Snippet #}
{% if plugin_snippets is defined %}
    {{ include('@admin/snippet.twig', {snippets: plugin_snippets}) }}
{% endif %}
</body>
</html>
