<!doctype html>
{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {# <title>{{ 'admin.login'|trans }} - {{ BaseInfo.shop_name }}</title> #}
    <title>運営管理者ログイン</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="robots" content="noindex,nofollow"/>
    <link rel="icon" href="{{ asset('assets/img/favicon.ico', 'admin') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.css', 'admin') }}">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
</head>
<body id="login-page" class="bg-light">
<noscript>
    <p>{{ 'admin.login.enable_javascript'|trans }}</p>
</noscript>

<div class="c-container">
    <div class="c-contentsArea">
        {{ include('@admin/alert.twig') }}

        {% block main %}{% endblock %}

    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="{{ asset('assets/js/function.js', 'admin') }}"></script>
{% block javascript %}{% endblock %}
</body>
</html>
