{% autoescape false %}

{% if Supplier is null %}[事業者名]{% else %}{{ Supplier.TradeName }}{% endif %}ご担当者様

お世話になっております。伝索運営係の小橋です。

「伝索」より商品注文が入りましたので、
在庫・納期のご確認をお願いいたします。

【購入商品】
{% if Supplier is null %}
{% for OrderItem in Order.MergedProductOrderItems %}
商品コード：{{ OrderItem.product_code }}
商品名：{{ OrderItem.product_name }}
数量：{{ OrderItem.quantity|number_format }}

{% endfor %}

{% else %}
{% for OrderItem in Order.MergedProductOrderItems %}
{% if OrderItem.Product.SupplierId == Supplier.SupplierId %}
商品コード：{{ OrderItem.product_code }}
商品名：{{ OrderItem.product_name }}
数量：{{ OrderItem.quantity|number_format }}

{% endif %}
{% endfor %}
{% endif %}
正式注文から何日後に配送されるかご確認お願いいたします。
現在入金確認中のため、正式注文は別途ご連絡いたします。

□■------------------------------------------------
株式会社マネジメントパートナーズ
伝索運営係　小橋創介（コハシソウスケ）
〒163-0713 
東京都新宿区西新宿2丁目7-1小田急第一生命ビル13階
TEL：03-6911-3025　/　FAX：03-6911-3026
URL： https://www.den-saku.com/
------------------------------------------------■□
{% endautoescape %}