{% autoescape false %}
{% if Supplier is null %}[事業者名]{% else %}{{ Supplier.TradeName }}{% endif %}ご担当者様

お世話になっております。伝索運営係の小橋です。

ご注文のありました下記商品の入金確認が取れましたので、
「商品発送」の手続きをお願いいたします。

【購入商品】
{% for Shipping in Order.Shippings %}
{% set SupplierHasItem = false %}
{% for OrderItem in Shipping.productOrderItems %}
{% if OrderItem.Product.SupplierId == Supplier.SupplierId %}
{% set SupplierHasItem = true %}
商品コード：{{ OrderItem.product_code }}
商品名：{{ OrderItem.product_name }}
数量：{{ OrderItem.quantity|number_format }}

{% endif %}
{% endfor %}
{% if SupplierHasItem %}
　 配送先：〒{{ Shipping.postal_code }}
　　　　　購入者住所：{{ Shipping.Pref.name }}{{ Shipping.addr01 }}{{ Shipping.addr02 }}
　 連絡先：購入者連絡先 ：{{ Shipping.phone_number }}
　 お届け先名：{{ Shipping.name01 }} {{ Shipping.name02 }}（{{ Shipping.kana01 }} {{ Shipping.kana02 }}）様
{% endif %}
{% endfor %}

商品発送手続きが完了しましたら、「送り状の追跡番号」を
ご連絡ください。

以上、何卒よろしくお願い申し上げます。
□■------------------------------------------------
株式会社マネジメントパートナーズ
伝索運営係　小橋創介（コハシソウスケ）
〒163-0713 
東京都新宿区西新宿2丁目7-1小田急第一生命ビル13階
TEL：03-6911-3025　/　FAX：03-6911-3026
URL： https://www.den-saku.com/
------------------------------------------------■□

{% endautoescape %}