{% autoescape false %}
{{ Shipping.name01 }} {{ Shipping.name02 }} 様

この度は伝統工芸品検索販売サイト「伝索（デンサク）」を
ご利用いただきまして、誠にありがとうございます。

ご注文いただいた商品を発送いたしましたので、お知らせいたします。

下記クロネコヤマトのサイトから
お問合せ伝票番号({{ Shipping.tracking_number }})での問い合わせができます。

【伝票番号】　{{ Order.order_no }}
【配送会社】　ヤマト運輸
　　　　　　　クロネコヤマトの荷物お問い合わせシステム
　　　　　　　http://toi.kuronekoyamato.co.jp/cgi-bin/tneko

■お届けの際にご不在だった場合は、運送会社からの「不在票」をご確認のうえ、
　１週間以内にお受け取りくださいますようお願い申し上げます。

■１週間以上お受け取りいただけない場合は発送店に返送となります。
　なお、返送となった場合は返送に掛かる諸費用をご請求させていただきます。

■お客様都合による受取拒否はご遠慮ください。
　万が一、お客様都合による受取拒否をなされた場合、
　商品代金及び配送・返送費用（実費）はご請求させていただきます。

===============================================================
商品のお届けまでもうしばらお待ちくださいませ。
この度は当店をご利用いただきまして誠にありがとうございました。
===============================================================

ご不明な点がありましたらご遠慮なくお問い合わせください。

□■------------------------------------------------
株式会社マネジメントパートナーズ
伝索運営係　小橋創介（コハシソウスケ）
〒163-0713 
東京都新宿区西新宿2丁目7-1小田急第一生命ビル13階
TEL：03-6911-3025　/　FAX：03-6911-3026
URL： https://www.den-saku.com/
Mail：s_kohashi@management-partners.co.jp
------------------------------------------------■□

{% endautoescape %}