{% autoescape false %}

{{ Order.name01 }} {{ Order.name02 }} 様

この度は伝統工芸品検索販売サイト「伝索（デンサク）」を
ご利用いただきまして、誠にありがとうございます。

下記商品の入金確認が取れましたので、ご連絡いたします。
商品の発送は●月●日（●）を予定しております。

発送完了後に「宅急便の追跡番号」をお知らせいたしますので、
今しばらくお待ちくださいますようお願い申し上げます。

【購入商品】
{% for OrderItem in Order.MergedProductOrderItems %}
商品コード：{{ OrderItem.product_code }}
商品名：{{ OrderItem.product_name }}
数量：{{ OrderItem.quantity|number_format }}
{% endfor %}

ご不明な点がありましたらお気軽にお問い合わせください。

□■------------------------------------------------
株式会社マネジメントパートナーズ
伝索運営係　小橋創介（コハシソウスケ）
〒163-0713 
東京都新宿区西新宿2丁目7-1小田急第一生命ビル13階
TEL：03-6911-3025　/　FAX：03-6911-3026
URL： https://www.den-saku.com/
Mail：s_kohashi@management-partners.co.jp
------------------------------------------------■□


{% endautoescape %}