{% autoescape false %}

{{ Order.name01 }} {{ Order.name02 }} 様

この度は伝統工芸品検索販売サイト「伝索（デンサク）」を
ご利用いただきまして、誠にありがとうございます。

これより商品発送の準備に入ります。
ご入金が確認できましたら、正確なお届け日をお伝えさせて頂きますので、
宜しくお願い致します。

【購入商品】
{% for OrderItem in Order.MergedProductOrderItems %}
商品コード：{{ OrderItem.product_code }}
商品名：{{ OrderItem.product_name }}
数量：{{ OrderItem.quantity|number_format }}
{% endfor %}

----------------------------------------------------------------------
★こちらの注文に覚えがない場合は？
他の方が誤ってあなたのメールアドレスで注文した可能性があります。
その場合は、大変お手数ですが、ご返信ください。
----------------------------------------------------------------------
───────────────問い合わせ───────────────
商品・決済・発送のお問い合わせ 　s_kohashi@management-partners.co.jp
伝索（デンサク）に関するご質問 　https://www.den-saku.com/inquiry.html
伝索（デンサク） https://www.den-saku.com/
───────────────────────────────────
□■------------------------------------------------
株式会社マネジメントパートナーズ
伝索運営係　小橋創介（コハシソウスケ）
〒163-0713 
東京都新宿区西新宿2丁目7-1小田急第一生命ビル13階
TEL：03-6911-3025　/　FAX：03-6911-3026
URL： https://www.den-saku.com/
Mail：s_kohashi@management-partners.co.jp
------------------------------------------------■□
{% endautoescape %}